<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/styles.html' %}

    <title>{{article.title}}</title>
</head>
<body>
    {% include 'components/logo$name.html' %}
    {% include 'components/nav.html' %}


    <div class="container">
        <br><br>
      
            <h1 class="title">{{article.title}}</h1>

            <br><br>


            <p class="subtitle">
                {{article.content}}
            </p>
    </div>
</body>
</html>